*, *::before, *::after {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {

    --Orange: #f24e1e;
    --Salmon: #ff7262;
    --Purple: #a259ff;
    --Blue: #1abcfe;
    --Green: #0acf83;
    --Black: #141414;

}