body {

    background: var(--Black);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    }

    .Container {

        display: flex;
        width: 200px;
        height: 300px;

    }

    .Left {

        position: relative;
        background: var(--Orange);
        width: 100px;
        height: 100px;
        border-radius: 50% 0 0 50%;
        box-shadow: 0 100px var(--Purple);
    }

    .Left::before {

        content: "";
        position: absolute;
        background: var(--Green);
        width: 100px;
        height: 100px;
        top: 200px;
        border-radius: 50% 0 50% 50%;

    }

    .Right {

        position: relative;
        background: var(--Salmon);
        width: 100px;
        height: 100px;
        border-radius: 0 50% 50% 0;

    }

    .Right::before {

        content: "";
        position: absolute;
        background: var(--Blue);
        width: 100px;
        height: 100px;
        top: 100px;
        border-radius: 50%;

    }
