body {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;

}

main {
    
    background: var(--background);
    position: relative;
    width: 620px;
    height: 620px;
    border-radius: 15%;
    
    display: flex;
    justify-content: center;
    align-items: center;

}

main::before {

    content: "";
    position: absolute;
    background: var(--background);
    z-index: 3;
    width: 300px;
    height: 10px;
    bottom: 57px;
    border-radius: 50% /100% 100% 0 0;

}

div {

    position: relative;
    width: 280px;
    height: 500px;
    overflow: hidden;
    display: flex;

}

div::before, div::after {

    content: "";
    position: absolute;
    width: 100px;
    height: 500px;
    background: var(--red-dark);
    
}

div::before {

    left: 0;

}

div::after {

    right: 0;

}

span {

    background: var(--red);
    width: 100px;
    height: 500px;
    position: relative;
    z-index: 2;
    transform: skew(19.5deg) translate(90%);
    filter: drop-shadow(0 0 .65rem);

}